.drop-target1
  {
    float:left;
    position: absolute;
    height: 17%;
    width: 40%;
    margin-top: -35%;
    margin-left: 35%;
    border-style: outset;
    border-color: #E0E0EB;    
    background-opacity: 1;
  }

  .drop-target2
  {
    float:left;
    overflow:hidden; 
    position: absolute;
    padding-top: 3%;
    width: 40%;
    height: 27%;
    margin-top: -22%;
    margin-left: 35%;
  }   

  .drag, .drop
  {
    float:left;
    width:20%;
    height:55%;  
    background-color: lightyellow;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 1%;
    border-style: outset;
    border-color: #005200;
    opacity: 1;
  }